


* {
    font-family: 'Times New Roman', cursive;
}

.banner {
    background-image: linear-gradient(  rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url('http://drive.google.com/uc?export=view&id=1m5mn_tncoH2BToE5f3d-B67HfjQrAvcu');
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner p {
    font-size: .7rem;
    text-align: center;
}

.pageWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.contactWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageWrapper .row {
    height: max-content !important;
}

.pageWrapper .row > div{
    display: flex;
    justify-content: center;
}

.pageWrapper p {
    font-size: .7rem;
    text-align: center;
}

.card {
    margin: 1rem !important;
    max-width: 300px;
    background: #e0e1ff !important;
}

.card p {
    padding: .4rem .6rem;
}